<div>
    <h2>Đơn hàng/Thống kê đơn hàng</h2>

    <h4>Vận chuyển</h4>

    <div class="container">
        <div class="container_item">
            <h4>ĐƠN HÀNG MỚI</h4>
            <p>đơn</p>
        </div>
        <div class="container_item">
            <h4>CHỜ LẤY HÀNG</h4>
            <p>đơn</p>
        </div>
        <div class="container_item">
            <h4>CHỜ THANH TOÁN</h4>
            <p>đơn</p>
        </div>
    </div>

    <h4>Đã vận chuyển</h4>

    <div class="container">
        <div class="container_item">
            <h4>ĐANG GIAO</h4>
            <p>đơn</p>
        </div>
        <div class="container_item">
            <h4>HOÀN THÀNH </h4>
            <p>đơn</p>
        </div>
        <div class="container_item">
            <h4>ĐÃ HỦY </h4>
            <p>đơn</p>
        </div>
        <div class="container_item">
            <h4>TRẢ HÀNG/HOÀN TIỀN </h4>
            <p>đơn</p>
        </div>
    </div>
</div>