<div class="fullpage">
    <h2>Đơn hàng/Tất cả đơn hàng</h2>
    <div class="container">
        <div class="container_item">
            <div class="tieude">
                <h3>Trạng thái đơn hàng</h3>
                <h3>Đơn hàng mới</h3>
                <h3>Chưa giao hàng</h3>
                <h3>Chưa thanh toán</h3>
            </div>
        </div>
        <div class="container_item">
            <label for="show">Hiển thị: 
                <input style="text-align: center" class="show" id="show" min="1" max="1000" name="show" value="1" type="number" onchange="loadJson()">
            </label>
        </div>
        <div class="container_item">
            <button>Thêm điều kiện lọc</button>
            <input type="text" placeholder="Tìm kiếm">
        </div>
        <div class="container_item">
            <table>
                <tr>
                    <th>Mã</th>
                    <th>Ngày tạo</th>
                    <th>Khách hàng</th>
                    <th>Thanh toán</th>
                    <th>Trạng thái</th>
                    <th>Tổng tiền</th>
                    <th>Kênh</th>
                </tr>
                <tbody>
                    <td>#11432</td>
                    <td>10/11/2023</td>
                    <td>Đặng Thanh Trúc</td>
                    <td>Bank: ACB</td>
                    <td>Đã giao</td>
                    <td>200.000đ</td>
                    <td>Website</td>
                </tbody>
            </table>
        </div>
    </div>
</div>