.container{
    display: flex;
    margin: 0;
    padding: 0;
    height: 100vh;
}

.leftcolumn{
    /* width: 40vw; */
    height: 100vh;
    margin-right: 5%;
}

.rightcolumn{
    flex: 1
}

@media screen and (max-width: 750px){
    
}

@media screen and (max-width: 480px){
    .container{
        flex-direction: column;
    }

    .leftcolumn{
        height: 80px;
    }

    /* .rightcolumn{
        margin-top: 200px;
    } */
}
