<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
<!-- <div class="container">
    <input class="timkiem" type="text" placeholder="Tìm kiếm sản phẩm">
    <button type="button" class="button p">Tìm kiếm</button>

    <app-product></app-product>
</div> -->
<!-- search.component.html -->
<!-- search.component.html -->
<!-- <div class="container">
    <input class="timkiem" type="text" placeholder="Tìm kiếm sản phẩm" [(ngModel)]="searchKeyword">
    <button type="button" class="button p" (click)="handleSearch()">Tìm kiếm</button>

    <router-outlet></router-outlet>
</div> -->
<div class="container">
    <form [formGroup]="searchForm" (ngSubmit)="handleSearch()">
      <input class="timkiem" type="text" placeholder="Tìm kiếm sản phẩm" formControlName="searchKeyword">
      <button type="submit" class="button p">Tìm kiếm</button>
    </form>
  
    <router-outlet></router-outlet>
  </div>
  

