
<div class="containerAll">
    <h2>Tổng quan</h2>
    <div class="containerTop">
        <div class="containerLeft">
            <!-- Doanh thu sản phẩm -->
            <div class="Title">
                <!-- <label for="dateRange">Chọn khoảng thời gian:</label> -->
                <select id="dateRange" class="btn">
                    <option value="today">Hôm nay</option>
                    <option value="thisMonth">Tháng này</option>
                    <option value="all">Toàn bộ</option>
                </select>
                <select id="channel" class="btn">
                    <option value="website">Website</option>
                    <option value="Shoppe"></option>
                </select>
            </div>
            <hr  class="line--grey">
            <table>
                <tr>
                    <td>Doanh thu thuần</td>
                    <td>35.000.000</td>
                </tr>
                <tr>
                    <td>Tổng số đơn hàng</td>
                    <td>50</td>
                </tr>
                <tr>
                    <td>Số lượng sản phẩm đã bán</td>
                    <td>35</td>
                </tr>
                <tr>
                    <td>
                        <p>Sản phẩm bán chạy nhất</p>
                        <table>
                            <tr>
                                <td rowspan="2"><img src="../../assets/Image/ImageForBlog/thumbnail/1.png" alt="" width="77px" height="77px"></td>
                                <td>Tên sản phẩm</td>
                            </tr>
                            <tr><td>Giá sản phẩm</td></tr>
                        </table>
                    </td>
                    <td> <p> 20</p>
                    </td>
                </tr>
                <tr class="viewDetailLine" >
                    <td></td>
                    <td><a href="" class="viewDetail">Xem chi tiết</a></td>
                </tr>
            </table>
        </div>

    </div>
    <div class="containerBottom">
        <!-- Trạng thái đơn hàng -->
        <div class="dongtittle">
            <h3>Trạng thái đơn hàng</h3>
            
        </div>
        <table>
            <tr>
                <td>Đơn hàng chờ xử lí</td>
                <td>{{ newOrdersCount }}</td>
                <td class="viewDetail"><a href="" routerLink="/donhang/don-hang-moi" routerLinkActive="active">Xem chi tiết</a></td>
              </tr>
              <tr>
                <td>Đơn hàng đang giao</td>
                <td>{{ pendingOrdersCount }}</td>
                <td class="viewDetail"><a href="" routerLink="/donhang/chua-nhan-hang" routerLinkActive="active">Xem chi tiết</a></td>
              </tr>
              <tr>
                <td>Đơn hàng đã giao</td>
                <td>{{ completedOrdersCount }}</td>
                <td class="viewDetail"><a href="" routerLink="/donhang/da-giao" routerLinkActive="active">Xem chi tiết</a></td>
              </tr>
              <tr>
                <td>Đơn hàng đã hủy</td>
                <td>{{ cancelledOrdersCount }}</td>
                <td class="viewDetail"><a href="" routerLink="/donhang/da-huy" routerLinkActive="active">Xem chi tiết</a></td>
              </tr>
        </table>
    </div>
</div>
