<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Quản lý khách hàng</title>
    <link rel="stylesheet" href="admin-customers.component.css">
</head>

<body>
    <div class="fullpage">
        <h4 class="title">Quản lý khách hàng</h4>
        <div class="container">

            <div class="container_item">
                <div class="show">
                    <label  for="show">Hiển thị:
                        <input class="showinput" style="text-align: center"  id="show" min="1" max="1000" name="show" value="1"
                            type="number" onchange="loadJson()">
                    </label>
                    <input class="find" type="text" placeholder="Tìm kiếm khách hàng">

                </div>
                
            </div>
            <div class="container_item">
                <table>
                    <tr>
                        <th>Tên</th>
                        <th>Địa chỉ</th>
                        <th>Email/ Số điện thoại</th>
                        <th>Ngày sinh</th>
                    </tr>
                    <tbody>
                        <tr>
                            <td>Phạm Văn Đạt</td>
                            <td>Bình Thạnh, HCM</td>
                            <td>datpham&#64;gmail.com</td>
                            <td>20/11/2000</td>
                        </tr>
                        <tr>
                            <td>Hoàng Khánh Nga</td>
                            <td>Quận 10, HCM</td>
                            <td>nga2003&#64;gmail.com</td>
                            <td>5</td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>


</body> -->


<div class="max-box">

    <div class="header">
        <div class="h4 font-bold">Quản lý khách hàng</div>
    </div>

    <div class="container">
        <div class="sub-header">

            <div class="sort font-bold">
                <label for="sortInput">
                    <p>Hiển thị |</p><input type="text" id="sortInput" [(ngModel)]="sortColumn"
                        (keyup.enter)="sortTable()" class="font-bold">
                </label>
            </div>

            <div class="search">
                <input type="text" placeholder="Tìm kiếm" [(ngModel)]="searchKeyword" (keyup.enter)="handleSearch()">
            </div>
        </div>

        <div class="content">
            <table *ngIf="displayedData.length > 0" >
                <thead>
                    <tr>
                        <th *ngFor="let columnName of customColumnNames">{{ columnName }}</th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let customer of customerData">
                        <td>{{ customer.hovaten }}</td>
                        <td>{{ customer.email }}</td>
                        <td>{{ customer.sdt }}</td>
                        <td>{{ customer.diachi}}</td>
                        <td>{{ customer.ngaysinh}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>